@import url("modal.css");

/*main*/
main {
    margin: 0 4rem 0 4rem;
}
/*Information from the homepage*/
.photograph_identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    background-color: #FAFAFA;
}

a:link { 
	text-decoration:none; 
	color: #901C1C;
}

.contact_details {
    width: 66%;
    margin: 30px;
}

.photograph_name {
    color: #D3573C;
    margin: 0;
    font-size: 4rem;
}

.photograph_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.photograph_city {
    color: #901C1C;
    margin: 10px 0 10px 0;
}

.photograph_tagline {
    margin: 0;
}

.contact_photographer {
    width: 33%;
    text-align: center;
}

.img_frame {
    width: 33%;
    display: flex;
    justify-content: center;
}

/*scrolling*/
.container_scrolling{
    margin-top : 30px;
    margin-bottom: 30px;
}

/*price and likes*/
#box {
    display: flex;
    align-items: center;
    background: #db8876;
    border-radius: 0.3rem;
    bottom: 0;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 4.4rem;
    justify-content: space-between;
    padding: 0 2.2rem;
    position: fixed;
    right: 2.5rem;
    width: 18rem;
}

#box .fa-heart {
    left: 7rem;
    position: absolute;
}

/*gallery*/
.container_gallery {
    display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
    justify-content: center;
    color: #901C1C;
}

.photo_gallery {
  display: flex;
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 300px;
  height : 300px;
  object-fit: cover;
  border-radius: 10px;
}

.bloc_photo {
    padding: 20px 40px;
}

.text_photo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#numberLikes{
    margin-right: 5px;
}


/* RESPONSIVE TABLETTE */
@media (max-width: 1024px) {
    .photograph_identity{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .photograph_name{
        align-items: center;
    }

    .contact_details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photograph_info{
        flex-direction: column;
    }

    .photograph_city{
        display: flex;
        justify-content: center;
    }

    .contact_photographer{
        width: auto;
        margin-top: 20px;
    }
}
