@import url("photographer.css");
@import url("lightbox.css");
@import url("modal.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 2rem;
}

/*header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

#title {
    color: #901C1C;
    margin-right: 120px;
}

#logo img {
    height: 50px;
    margin-left: 100px;
}

/*main*/
.photographer_section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section_article {
    /*justify-self: center;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 27%;
}

.photographer_img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(89, 206, 38);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
}

.photographer_img_link:hover {
    box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
    transform: scale(1.05);
    cursor: pointer;
}

.photographer_info {
    /*justify-self: center;*/
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.photographer_name {
    color: #D3573C;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
}

.photographer_localization {
    color: #D3573C;
    margin: 0.2rem;
}

.photographer_tagline {
    margin: 0;
}

.photographer_price {
    margin: 0;
    color: #757575;
}

/* RESPONSIVE TABLETTE x RESPONSIVE MOBILES */
@media screen and (max-width: 1024px) {
    .header{
        flex-direction: column;
    }

    #logo img{
        margin : 0;
    }

    #title {
        margin : 0;
    }

    .photographer_section{
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .photographer_tagline{
        text-align: center;
        max-width: 220px;
        word-wrap: break-word;
    }
}
