@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/*header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 20px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

#logo img {
    height: 50px;
    margin-left: 100px;
}

/*main*/
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section_article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photographer_info {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_name {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 20px;
}

.photographer_city {
    color: #D3573C;
    margin: 0;
    
}

.photographer_tagline {
    margin: 0;
}

.photographer_price {
    margin: 0;
}
